
.homecards3{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
  }
  .spcard3{
	width:270px;
	height:500px;
	border-radius: 12px;
	overflow: hidden;
	background-color:rgb(233, 226, 226);
	position: relative;
	left:-33%;
    top:10%;
    
  }
.dressimg{
	width:100%;
	height:70%;
}

.bookp{
    font-style: italic;
    font-weight: lighter;
    float:left;
    font-size: 18px;
}.bookp1{
    font-style: italic;
    font-weight: bold;

    text-align: center;
    font-size: 20px;
}