:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}
.login,
.image {
    min-height: 100vh;  
}
.bg-image {
    background-image: url('../Component/img/Premium\ Photo\ _\ Stock\ market\ or\ forex\ trading\ graph\ in\ graphic\ concept.jfif');
    background-size: cover;
    background-position: center;
}
.big-image {
    background-image: url('../Component/img/Downtrend\ Stock\ market\ or\ forex\ trading\ graph\ in\ graphic\ concept.jfif');
    background-size: cover;
    background-position: center;
}
.body {
    background-color: #e3e4e6a8;
}
.login-heading {
    font-weight: 300;
}
.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}
.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
    border-radius: 2rem;
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    cursor: text;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}
.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}
.buttonlogin{
	width: 50%;
	height: 40px;
    margin-left: 88px;
	justify-content: center;
	display: block;
	color: #fff;
	background: #39393a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.loginp{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}